body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
  margin-bottom: 20px;
}
.image-box img {
  width: 10%;
}
.baseball-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button.start-btn {
  border: none;
  background: none;
  cursor: pointer;
}
.start-btn i {
  transition: all 0.3s ease-in-out;
}
.start-btn i:hover {
  transform: scale(1.1);
}
.start-btn span {
  display: block;
  font-size: 25px;
  font-family: "Pacifico", cursive;
}
.showing {
  display: block;
}
.hide {
  display: none;
}
form {
  display: none;
  margin: 20px 0;
}
form input[type="text"] {
  width: 200px;
  height: 30px;
  border: none;
  border-bottom: 2px solid black;
  background: none;
  outline: none;
}
form input::placeholder {
  text-align: center;
}
form input[type="submit"] {
  cursor: pointer;
  background: black;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
}
.replay {
  cursor: pointer;
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}
